<li class="message">
  <div>
    <p><%= message.username %> said:</p>
    <p class="message-text"><%= message.message %></p>
    <span class="message-date"><%= message.added.toLocaleDateString() %></span>
  </div>
</li>
