:root {
  --primary-color: #8acb88;
  --secondary-color: #e4fde1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
}

li {
  list-style: none;
}

.message-board__container {
  background-color: var(--primary-color);
  padding: 20px 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.message {
  background-color: var(--secondary-color);
  padding: 20px 40px;
}
